block meta
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(content="François Vaux – Ruby & Javascript developer" name="description")
    meta(content="françois, vaux, francois, developer, développeur, web, ruby, javascript, git, vim, marseille" name="keywords")
    link(rel="stylesheet" href="/assets/css/stylesheet.css")
    title= title
  body
    article
      block content
    footer
      p © François Vaux 2014
    script
      :cdata-js
        var _gaq = _gaq || []
        _gaq.push(['_setAccount', 'UA-3749748-4'])
        _gaq.push(['_trackPageview'])

        (function() {
          if(window.location.hostname !== "madx.me") return
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s)
        })()
