@import "normalize.css";
@import "./common.css";

/*! madx.me */

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--Dark)
    url("/assets/images/background.jpg")
    top left
    no-repeat;
  background-size: cover;
  font-family: Avenir, "Helvetica Neue", "Liberation Sans", "Droid Sans", sans-serif;
}

header {
  text-align: center;
  max-width: 50rem;
  margin-top: 2rem;
}

header h1 {
  color: var(--Light);
  font-family: "Bluu";
  font-weight: 800;
}

article {
  margin: 0 2rem;
  max-width: 50rem;
  margin-top: 2rem;
  padding: 2rem;
  background-color: color(var(--Light) a(-5%));
  box-shadow: 0 0 5px rgba(0, 0, 0, var(--Dark));
}

footer {
  color: var(--Light);
  font-size: 0.9rem;
  font-style: italic;
  margin: 0 1rem 1rem 5rem;
  max-width: 42rem;
  text-align: center;
}
