@import "_normalize";

/*! madx.me */
body {
  max-width: 42em;
  margin: 1em auto 1em;
  color: #223;
}

a:link, a:visited {
  color: #28c;

  &:hover, &:active {
    color: #5bc;
  }
}

article {
  line-height: 1.5;
}

footer {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  color: #555;
}
