@import "_normalize";

/*! madx.me */
body {
  max-width: 42em;
  margin: 1em auto 1em;
  color: #223;
}

a:link, a:visited {
  color: #28c;

  &:hover, &:active {
    color: #5bc;
  }
}

article {
  line-height: 1.5;
}

footer {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  color: #555;
}

code {
  padding: 0.1em 0.25em;
  border-radius: 3px;
  background-color: #eec;
}

pre {
  padding: 0.8em;
  border-radius: 3px;
  background-color: #555;
  color: #ffe;
}

pre code {
  background-color: inherit;
}
