@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700);

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

* { box-sizing: border-box; }

.hidden {
  display: none;
}

body {
  background-color: #2f1e1e;
  background-image: url('/images/background.jpg');
  background-position: top left;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Merriweather Sans";
  color: #3e2a25;
}

.content-wrapper {
  position: relative;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 48em) {
  .content-wrapper {
    padding: 0 2em 4em;
    margin: 0 auto;
    width: 39.5em;
  }
}

@media screen and (min-width: 64em) {
  .content-wrapper {
    padding: 0 4em 4em;
    margin: 0 auto;
    width: 56em;
  }
}

nav {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
  padding-left: 2em;
}
@media screen and (min-width: 48em) {
  nav {
    padding-left: 0;
  }
}

nav li {
  display: inline-block;
  padding-top: 1em;
  margin-right: 1em;
}

nav li::after {
  margin-left: 1em;
  content: "/";
}

nav li:last-child::after {
  content: "";
}

nav li a:link, nav li a:visited {
  color: white;
  text-decoration: none;
  -webkit-transition: opacity 200ms ease;
          transition: opacity 200ms ease;
  opacity: 0.7;
}

nav li a:hover {
  opacity: 1;
}

.hero {
  text-align: center;
  padding: 6em 0 2em;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 35.5em) {
  .hero {
    padding: 3em 0 1em;
  }

  .hero h1 {
    font-size: 2em;
  }
  .hero h2 {
    font-size: 1.2em;
  }

  .hero h2 span {
    display: block;
  }
}

.hero h1 {
  font-family: "Montserrat";
  font-size: 3em;
  margin-bottom: 0;
  text-transform: uppercase;
}

.hero h2 {
  font-weight: 300;
  font-size: 1.4em;
  -webkit-font-feature-settings: "c2sc";
     -moz-font-feature-settings: "c2sc";
          font-feature-settings: "c2sc";
  font-variant: small-caps;
  margin-top: 8px;
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  vertical-align: middle;
}

.hero h2 span {
  margin: 0 0.5em;
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  padding: 2em;
}

section > * { margin-top: 0; }

section a:link, section a:visited {
  color: #3d689f;
  -webkit-transition: opacity 200ms ease;
          transition: opacity 200ms ease;
  opacity: 1;
}

section a:hover {
  opacity: 0.7;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #43424f;
  color: #f3ecda;
  padding: 1em;
  font-size: 0.8em;
}

footer a:link, footer a:visited {
  -webkit-transition: opacity 200ms ease;
          transition: opacity 200ms ease;
  opacity: 0.7;
  color: #f3ecda;
}

footer a:hover {
  opacity: 1;
}

/* HLJS theme */
/*background color*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em 22px;
  background: #1d1f21;
  font-family: "Droid Sans Mono", monospace;
}

/*selection color*/
.hljs::-moz-selection,
.hljs span::-moz-selection {
    background: #373b41;
}
.hljs::selection,
.hljs span::selection {
    background: #373b41;
}
.hljs::-moz-selection,
.hljs span::-moz-selection {
    background: #373b41;
}

/*foreground color*/
.hljs,
.hljs-setting .hljs-value,
.hljs-expression .hljs-variable,
.hljs-expression .hljs-begin-block,
.hljs-expression .hljs-end-block,
.hljs-class .hljs-params,
.hljs-function .hljs-params,
.hljs-at_rule .hljs-preprocessor {
  color: #c5c8c6;
}

/*color: fg_yellow*/
.hljs-title,
.hljs-function .hljs-title,
.hljs-keyword .hljs-common,
.hljs-class .hljs-title,
.hljs-decorator,
.hljs-tag .hljs-title,
.hljs-header,
.hljs-sub,
.hljs-function {
  color: #f0c674;
}

/*color: fg_comment*/
.hljs-comment,
.hljs-javadoc,
.hljs-output .hljs-value,
.hljs-pi,
.hljs-shebang,
.hljs-template_comment,
.hljs-doctype {
  color: #707880;
}

/*color: fg_red*/
.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-deletion,
.hljs-link_url,
.hljs-symbol .hljs-string,
.hljs-argument,
.hljs-hexcolor,
.hljs-input .hljs-prompt,
.hljs-char {
 color: #cc6666
}

/*color: fg_green*/
.hljs-string,
.hljs-special,
.hljs-javadoctag,
.hljs-addition,
.hljs-important,
.hljs-tag .hljs-value,
.hljs-at.rule .hljs-keyword,
.hljs-regexp,
.hljs-attr_selector {
  color: #b5bd68;
}

/*color: fg_purple*/
.hljs-variable,
.hljs-property,
.hljs-envar,
.hljs-code,
.hljs-expression,
.hljs-localvars,
.hljs-id,
.hljs-variable .hljs-filter,
.hljs-variable .hljs-filter .hljs-keyword,
.hljs-template_tag .hljs-filter .hljs-keyword {
 color: #b294bb;
}

/*color: fg_blue*/
.hljs-statement,
.hljs-label,
.hljs-keyword,
.hljs-xmlDocTag,
.hljs-function .hljs-keyword,
.hljs-chunk,
.hljs-cdata,
.hljs-link_label,
.hljs-bullet,
.hljs-class .hljs-keyword,
.hljs-smartquote,
.hljs-method,
.hljs-list .hljs-title,
.hljs-tag {
 color: #81a2be;
}

/*color: fg_aqua*/
.hljs-pseudo,
.hljs-exception,
.hljs-annotation,
.hljs-subst,
.hljs-change,
.hljs-cbracket,
.hljs-operator,
.hljs-horizontal_rule,
.hljs-preprocessor .hljs-keyword,
.hljs-typedef,
.hljs-template_tag,
.hljs-variable,
.hljs-variable .hljs-filter .hljs-argument,
.hljs-at_rule,
.hljs-at_rule .hljs-string,
.hljs-at_rule .hljs-keyword {
  color: #8abeb7;
}


/*color: fg_orange*/
.hljs-typename ,
.hljs-inheritance .hljs-parent,
.hljs-constant,
.hljs-built_in,
.hljs-setting,
.hljs-structure,
.hljs-link_reference,
.hljs-attribute,
.hljs-blockquote,
.hljs-quoted,
.hljs-class,
.hljs-header {
  color: #de935f;
}

.hljs-emphasis
{
  font-style: italic;
}

.hljs-strong
{
  font-weight: bold;
}
